.welcome-text {
  margin: auto;
  max-width: 660px;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.location-detail-view-back-button {
  font-size: 2rem;
}

.location-detail-view-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  max-width: 1350px;
  padding-top: 3rem;
}

.location-detail-view-map,
.weather-display,
.astronomy-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border: 0.5px solid #7b7b7b;
  border-radius: 0.5rem;
  width: 100%;
  // height: 400px;
  padding: 2rem;
  max-width: 400px;

  h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .forecast-h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .weather-alert-text {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    padding-bottom: 1rem;
    margin-top: -10px;

    .weather-alert-text-bold {
      font-weight: bold;
    }
  }

  .forecast-table-wrapper {
    overflow: scroll;
    max-width: 100%;
  }

  .forecast-table {
    border: 1px solid #7b7b7b;
    line-height: 1.5rem;
    text-align: left;
    align-self: flex-start;
    table-layout: fixed;
    width: 100%;

    .forecast-table-cell {
      border: 1px solid #7b7b7b;
      padding: 6px;
      width: 200px;
      overflow: hidden;

      .forecast-detail-p {
        padding-bottom: 8px;
      }

      .forecast-table-bold {
        font-weight: bold;
      }
    }
  }
}
