.trips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-align: left;
}

.trip-card .MuiCard-root {
  background-color: #222222;
  height: 391.2px;
}

.MuiTypography-h5 {
  color: #ffffff;
}

.MuiTypography-body2 {
  color: #ffffffbd;
}

.tooltip {
  font-size: 1.2rem;
  overflow: hidden;
  max-height: 100px;
}
